@{
    ViewBag.Title = "Trang chủ";
    List<Keno.Model.ProductType> lstProductType = ViewBag.ListProductType;
}

<link rel="stylesheet" href="@Url.Content("~/Content/Home.css")">
<div class="container">
    <div class="row">
        @Html.Partial("_SideMenuPartial", lstProductType)
        <div class="col-md-9">
            <div class="col-md-6 gallery">
                <a href="https://tiki.vn/"><div class="advertise-brick" style="height: 300px; background-image: url(@Url.Content("~/Content/Images/introduction.gif"))"></div></a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/1b/50/ec/51c3d12e4490af7dcf6867edb7fedebe.png)"></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/51/21/32/7154d662ac90a32cf35342d1f225ae35.png)"></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/b5/ce/eb/c9fb81e4d23834a3d0f6b0783cde0862.png); "></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w292/ts/banner/4f/c5/0d/9167c7298d2c52f7511d2725b33c36e0.png); "></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w292/ts/banner/b6/5d/2e/af88954c858499bee6a9173f6c814a35.png); "></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/b5/ce/eb/c9fb81e4d23834a3d0f6b0783cde0862.png); "></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/e3/55/ab/d21a9ab5d259a77bd6a1965e16e26b71.png); "></div>
                </a>
            </div>
            <div class="col-md-3 gallery">
                <a href="https://tiki.vn/">
                    <div class="advertise-brick" style="height: 150px; background-image: url(https://salt.tikicdn.com/cache/w206/ts/banner/b8/4b/1b/6627ec518047c189c13e4f22632beda1.png); "></div>
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('li.product-type').on('click', function () {
                $('li.product-type').removeClass('active');
                $(this).addClass('active');

                var typeID = $(this).data('id');
                window.location.href = "@Url.Action("Index", "Product")" + "?typeid=" + typeID;
            });
        });
    </script>
}
