@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<link rel="stylesheet" href="@Url.Content("~/Content/Home.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/ProductList.css")">
<div class="container">
    <div class="row">
        @Html.Partial("_SideMenuPartial")
        <div class="col-md-9">
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="advertise-brick" style="height: 250px; background-image: url(https://salt.tikicdn.com/cache/550x550/ts/product/53/9f/86/8151626cff13a8b9ac388bc5aa050e3e.jpeg)"></div>
                    <div class="product-name">Máy Ảnh Sony Alpha A6000 + 16-50mm - Hàng Chính Hãng</div>
                    <div class="product-price">11.990.000 ₫</div>
                </div>
            </div>
        </div>
    </div>
</div>

