body {
    font-family: Arial;
}
td {
    vertical-align: middle !important;
}

input[type=text],
input[type=email],
textarea {
    width: 60%;
}

.pagination-container {
    text-align: right;
}