<div class="col-md-3">
    <ul class="side-menu">
        <li class="item active">Đồ gia dụng</li>
        <li class="item">Hàng tiêu dùng - Thực phẩm</li>
        <li class="item">Thời trang - Phụ kiện</li>
        <li class="item">Sản phẩm thân thiện môi trường</li>
    </ul>
</div>
